<footer class="site-footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-info">
        <p class="footer-name">{{ site.author.name }}</p>
        <p>{{ site.author.email }}</p>
        <p>{{ site.author.location }}</p>
      </div>

      <div class="footer-social">
        {% include social-links.html %}
      </div>
    </div>

    <p class="footer-copyright">
      &copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}. All rights reserved.
    </p>
  </div>
</footer>
